/* 
*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #edf2fc;
    --secondry-color:#212121;
}

body{
    height: 100vh;
    min-width: 80%;
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    font-family: sans-serif;
}
nav{
    width: 84%;
    padding: 20px 0;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    margin: 0 auto;
}       
#logo{
    width: 100px;
    cursor: pointer;
}
#icon{
    width: 30px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--secondry-color);
}
nav ul li a:hover{
    color: #9767cd;
} */

*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #edf2fc;
    --secondry-color:#212121;
}
.dark-theme{
    --primary-color: #212121;
    --secondry-color:#edf2fc;
}
body{
    height: 100vh;
    min-width: 840px;
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    font-family: sans-serif;
}
nav{
    width: 84%;
    padding: 20px 0;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    margin: 0 auto;
}    
#icon{
    width: 30px;
    cursor: pointer;
}
#logo{
    width: 100px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--secondry-color);
}
nav ul li a:hover{
    color: #9767cd;
}
main{
    display:flex;
    flex: 1;
    align-items: center;
}
.info{
    margin-left: 8%;
}
.info h1{
    font-size: 65px;
    color: var(--secondry-color);
    margin-bottom: 20px;
}
.info p{
    line-height: 22px;
    color: var(--secondry-color);
}
.info a{
    background-color: var(--secondry-color);
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    margin: 30px 0px                              ;
    color: var(--primary-color);
}
.info span{
    color: #9767cd;
}
.img-box{
    flex: 1;
    position:relative;
    align-self:stretch;
}
.img-box img{
    position: absolute;
    left: 50%;
    bottom : 0;
    height: 90%;
    transition: bottom 1s, left 1s;
    transform: translateX(-50%);
}
.img-box:hover .back-img{
    bottom: 40px;
}
.img-box:hover .main-img{
    left: 54%;
}
.social-links{
    margin-left: 8%;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
}
.social-links a{
    font-size: 30px;
    color: var(--secondry-color);
    margin-right: 20px;
}
.social-links a:hover{
    color: #9767cd;
}
